config BOARD_HP_IQ526
	bool "TouchSmart IQ526 (Maureen)"
	select NORTHBRIDGE_INTEL_GM45
	select SOUTHBRIDGE_INTEL_I82801IX
	select BOARD_ROMSIZE_KB_1024
	select HAVE_ACPI_TABLES
	select HAVE_ACPI_RESUME
	select HAVE_OPTION_TABLE
	select HAVE_CMOS_DEFAULT
	# SuperIO TBD after identification
	
if BOARD_HP_IQ526

config MAINBOARD_DIR
	default "hp/iq526"

config MAINBOARD_PART_NUMBER
	default "TouchSmart IQ526"

config MAINBOARD_VENDOR
	default "HP"

config DRAM_RESET_GATE_GPIO
	int
	default 60

config USBDEBUG_HCD_INDEX
	int
	default 1

endif
